<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/NaiveBayesClassifier/src/com/yanjiuyanjiu/text/classification/MultiNomialNB.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.yanjiuyanjiu.text.classification.MultiNomialNB"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="./data/solr.mdl ./data/test4_solr/non_medical_1.txt UTF-8"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="NaiveBayesClassifier"/>
</launchConfiguration>
