<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Tomcat7_test/src/solr_classification/com/SolrConnection.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="solr_classification.com.SolrConnection"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Tomcat7_test"/>
</launchConfiguration>
